<h1>Picture Details # <%=@picture.id%></h1>

<div>
	<%=image_tag(@picture.source, :width => 200)%>
</div>

<p><%= @picture.caption%></p>

<%=link_to("Delete this Photo", "http://localhost:3000/delete_picture/#{@picture.id}") %>
