<title>Update Confirmation</title>
<h1>Picture Update</h1>
<p>Your picture has been updated to the below photo and caption!</p>
<img src ="<%= @update_picture.source%>">
<p><%= @update_picture.caption%></p>